.container-header{
    position: absolute;
    top:0;
    width: 100%;
    height: 80px;
    background: #b0b6b4;
}

.container-header2{
    position: absolute;
    top:80px;
    width: 100%;
    height: 80px;
    background: #f3f3f3;
}

.header-level{
    position: absolute;
    text-align: center;
    top:20%;
    left: 25px;
}

.header-experience{
    position: absolute;
    top: 30%;
    background: #BDBDBD;
    border-radius: 8px;
    height: 9px;
    width: 60%;
    left:50%;
    transform: translateX(-50%); 
}

.menuicon{
    position: absolute;
    top:25px;
    margin-left: auto;
    left: 80%;
}
.usericon{
    position: relative;
    top:15px;
    left: 10px;
}

#nivel{
    position: absolute;
    left: 69%;
    top: 30%;
}

#xp{
    position: absolute;
    left: 15%;
    top: 7%;
}